<!--en está parte la idea es tener un buscador, seleccionar como filtrar, una vista de productos en general de forma aleatoria-->
<!--entonces va a poder navegar a otras partes desde un deslizador a la izquierda, que es vertical-->
<!--entonces tendrá 3 bloques -->
<!--creo que se debe generar un bloque de forma automatica y replicar -->

<!--tengo las clases, pero necesito es crear el pinche cuadrito, 
se llamara a stock y se elegira de ahí
entonces la vaina es como miercoles se maneja es amierda
de python con html embebido-->