<!--en está parte la idea es tener un buscador, seleccionar como filtrar, una vista de productos en general de forma aleatoria-->
<!--entonces va a poder navegar a otras partes desde un deslizador a la izquierda, que es vertical-->
<!--entonces tendrá 3 bloques -->
<!--creo que se debe generar un bloque de forma automatica y replicar -->

<!--tengo las clases, pero necesito es crear el pinche cuadrito, 
se llamara a stock y se elegira de ahí
entonces la vaina es como miercoles se maneja es amierda
de python con html embebido-->


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
</head>
<body>
     <!--es un sidebar estatico-->
     <div class="sidebar">
        <h2>Menú</h2>
       
        <a href="{{ url_for('carrito_bp.carrito_view') }}"> Mi carrito</a>
        
        
        

    </div>




    <div class="home-container">
        <h1>Bienvenido a Mi App</h1>
        <div class="product-slider">
            <!-- Aquí se generarán los bloques de productos de forma automática -->
            <!-- aca usa lo que se envia en variable products--> 
            {% for product in products %}
            <div class="product-card">
                <h3>{{ product.nombre }}</h3>
                <p>{{ product.estado }}</p>
                <p>Precio: ${{ product.precio }}</p>
                <a href="{{ url_for('producto_bp.product_detail', id_producto=product.id_producto) }}">Ver Producto</a>
                <!-- Formulario para agregar al carrito -->
                <form action="{{ url_for('carrito_bp.add_to_cart') }}" method="post" style="display:inline; margin-left:8px;">
                    <input type="hidden" name="id_producto" value="{{ product.id_producto }}" />
                    <input type="hidden" name="cantidad" value="1" />
                    <button type="submit">Añadir al carrito</button>
                </form>
                
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>