.sidebar {
    width: 230px;
    background: #222;
    color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #333;
    border-radius: 6px;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #444;
}
