<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dirección de Envío</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/direccion.css') }}">
</head>
<body>

    <div class="container">
        <h2>Ingresar Dirección de Envío</h2>

        <form action="{{ url_for('direccion_bp.direccion_view') }}" method="post">

            <label for="city">Ciudad</label>
            <input type="text" id="city" name="city" required>

            <label for="postal_code">Código Postal</label>
            <input type="text" id="postal_code" name="postal_code" required>

            <label for="department">Departamento</label>
            <input type="text" id="department" name="department" required>

            
            <label for="d_especific">Dirección específica</label>
            <input type="text" id="d_especific" name="d_especific" placeholder="Ej: Casa #5, Apto 302, Frente al parque" required>

            <button type="submit">Guardar dirección y hacer pedido</button>
        </form>
    </div>

</body>
</html>
