<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
</head>


<body>
    <h1>Carrito de Compras</h1>
    <table><!--tabla que muestra los productos-->
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_carrito %}
            <tr>
                <td>{{ item[0].nombre }}</td><!--0 prodcuto y 1 cantidad-->
                <td>{{ item[1] }}</td>
                <td>{{ item[0].precio }}</td>
                <td>{{  item[0].precio* item[1] }}</td>
                <td>
                    <form action="{{ url_for('carrito_bp.remove_from_cart') }}" method="post" style="display:inline;">
                        <input type="hidden" name="id_producto" value="{{ item[0].id_producto }}" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total: {{ total }}</h2><!--debo hacer este calculo antes de llegar a está vista
    o nos e-->

    
    <form action="{{ url_for('direccion_bp.direccion_view') }}" method="get">
        <button type="submit">hacer pedido</button> 
    </form>
</body>
</html>